
<div class="container">
  <div class="form-group">
    <h4>File Upload</h4>


    <div *ngIf="currentUpload">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
      </div>
      Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
    </div>

    <div *ngIf="currentUpload?.url">
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>


<div class="container py-2 px-4 frame">
  <div class="row">
    <div class="form-group">
      <label>
        <input type="file" (change)="detectFiles($event)">
      </label>

      <button
        class="btn btn-primary"
        [disabled]="!selectedFiles"
        (click)="uploadSingle()">

        Upload Single
      </button>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label>
        <input type="file" (change)="detectFiles($event)" multiple>
      </label>

      <button
        class="btn btn-primary"
        [disabled]="!selectedFiles"
        (click)="uploadMulti()">

        Upload Multiple
      </button>

    </div>
  </div>
</div>


